<template>
  <div class=flex-container>
    <navbar>
      <ul>
        <img src="./assets/img_logo_officeplus.svg" alt="office plus logo">
        <li>
          <div class="dropdown">
            <button class="dropbtn">Aanbod <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
            <a href="#">Amsterdam</a>
            <a href="#">Rotterdam</a>
            <a href="#">Den Haag</a>
            <a href="#">Eindhoven</a>
            <a href="#">Utrecht</a>
            <a href="#">Den Bosch</a>
            <a href="#">Arnhem</a>
            </div>
          </div>
        </li>
        <li>Diensten</li>
        <li>Over ons</li>
        <li>Contact</li>
        <div class="right">
          <li>Inloggen</li>
          <li class="logIn">Aanmelden</li>
        </div>
      </ul>
    </navbar>
  </div>
</template>


<script>

</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    outline: none;
}

/* ---------------------- navbar ----------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
}

ul {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}

ul li {
  padding: 10px;
}

.right {
  padding-left: 18rem;
  display: flex;
}

li:hover,
.dropbtn:hover {
  color: orange;
}

.logIn {
  background: #e6e6e6;
  border-radius: 10%;
}

a {
  text-decoration: none;
  color: black;
  margin-top: 10px;  

}

a:hover {
  background-color: #e6e6e6;
  
}
/* <---------------------- navbar - dropdown -------------------> */

select {
  font-size: 1rem;
}

.dropdown ul {
    padding: 0;
    border: 0;
    margin: 0;
    display: none;
}

.dropdown ul li a{
    padding: 15px;
    font-size: 11px;
    border: 0;
}

li:hover ul{
    display:block;
}

.dropdown-item {
  position: static;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

img {
  padding-right: 2rem;
}

</style>
